body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
    margin-top: 40px;
    text-align: center; /* Centraliza os títulos das seções */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os cartões na linha */
    margin: 20px 0;
}

.card {
    background-color: white;
    border-radius: 10px; /* Arredondamento maior para um visual mais suave */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
    margin: 15px; /* Espaçamento maior entre os cartões */
    padding: 20px; /* Mais espaço interno */
    text-align: center; /* Centraliza o texto */
    width: 220px; /* Largura dos cartões */
    transition: transform 0.2s; /* Transição suave para o efeito hover */
}

.card:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.trophy-image {
    width: 100%; /* Ajuste o tamanho da imagem do troféu */
    height: auto;
    border-radius: 5px;
}

.club-image {
    width: 30px; /* Tamanho da imagem do clube */
    height: auto;
    border-radius: 50%; /* Faz a imagem do clube ficar redonda */
    margin-right: 5px; /* Espaçamento à direita da imagem do clube */
}

.trophy-info {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    align-items: center; /* Centraliza os elementos */
    margin-top: 5px; /* Espaçamento acima da informação do troféu */
    background-color: #e0e0e0; /* Cor de fundo para a "bola" */
    border-radius: 50%; /* Faz a "bola" ficar redonda */
    padding: 10px; /* Espaçamento interno da "bola" */
}

.fm-logo {
    width: 20px; /* Tamanho da imagem do logo do FM */
    height: auto;
    margin-top: 5px; /* Espaçamento acima do logo do FM */
}

.count {
    font-weight: bold; /* Destaca o número de conquistas */
    margin-bottom: 5px; /* Margem abaixo do número de conquistas */
}

.achievements {
    display: flex; /* Exibe as conquistas em linha */
    justify-content: center; /* Centraliza as conquistas */
    margin-top: 10px; /* Espaçamento acima das conquistas */
}

.card h3 {
    font-size: 1.3em; /* Aumenta o tamanho do título */
    margin: 10px 0 5px;
    color: #333; /* Cor do texto do título */
}

.card p {
    font-size: 0.9em;
    color: #777;
    margin: 5px 0; /* Margem para o parágrafo */
}